header, footer{
    background: honeydew;
}

header{
    padding: 1rem 0;
}

nav ul{
    background: honeydew;
    list-style: none;
    border-radius: .25rem;
    margin: 5rem 0;
    padding: 20px;
}

nav ul li{
    margin-left: 10px;
}

main{
    min-height: calc(100vh - 8rem);
}

footer{
    padding: 1rem 0;
}