<nav class="row">
    <div class="col-11">
        <h5>
        </h5>
        <ul>
            <li>
                <h5>
                    Navigation
                </h5>
            </li>
            <li>
                <a href="?controller=account&action=login">Login</a>
            </li>
            <li>
                <a href="?controller=account&action=register">Register</a>
            </li>
            <li>
                <a href="?controller=posts&action=show">Posts</a>
            </li>
            <li>
                <a href="?controller=account&action=profile">Profile</a>
            </li>
        </ul>
    </div>
</nav>