<nav class="row">
    <div class="col-11">
        <h5>
        </h5>
        <ul>
            <li>
                <h5>
                    Navigation
                </h5>
            </li>
            <li>
                <a href="account/login">Login</a>
            </li>
            <li>
                <a href="account/register">Register</a>
            </li>
            <li>
                <a href="posts/show">Posts</a>
            </li>
            <li>
                <a href="account/profile">Profile</a>
            </li>
        </ul>
    </div>
</nav>